[landslide]
#theme = /path/to/theme
source = parts/intro.md
         parts/descr.md
         parts/interest.md
         parts/related.md
         parts/achieve.md
         parts/conclusion.md
         parts/reference.md
destination = index.html

